{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="form-container">
            <h1>Adicionando participantes a {{visita.familia}}</h1>
            <div class="search-container">
                <form action="" class="search-form">
                    <input type="search" class="search-input" name="search">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </form>
              </div>
            <form action="/cadastro_participantes/{{visita.id}}/" method='post'>
                {% csrf_token %}               
                {% crispy form %}
            </form>
        </div>
</div>
{% endblock content %}
    
