{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-content main-content-list container">
        <form class="form-container" action="{% url 'visitas:visita_editar' visita.id %}" method='post'>
            <div class="form-title">
                <h1>Editando a Visita {{visita.familia}} | Data: {{visita.data}}</h1>
            </div>
            {% csrf_token %}
            {% crispy form %}
            
        </form>
        </div>
{% endblock content %}
