{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
            <h2>Visita a {{visita.familia}} | Data: {{visita.data}}</h2> 
            <h1>Participantes: </h1>
            <div class="new-button"> 
                <a href="{% url 'visitas:cadastro_participantes' visita.id %}">Adicione novos participantes</a>
            </div>
            {% if colaboradores.exists%}
            {% for participante in colaboradores %}
                {% for i in participante.participantes.all %}
                    <span><a class="componentes-link"href="{% url 'colaboradores:colaborador_detail' i.id%}">{{i.nome}}</a></span><br>
                {% endfor %}
            {% endfor %}
            {% endif %} 
            <h1>Pedidos:</h1>
            <div class="text-detail">
                <h1><p>{{visita.pedidos}}</p></h1>
            </div>
            <h1>Observação:</h1>
            <div class="text-detail">
                <h1><p>{{visita.observacao}}</p></h1>
            </div>
</div>
{% endblock content %}
