
:root {
    --color-primary: #269fe6;
    --color-primary-form: #28aefc;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-small: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: white;
    color: var(--color-dark-text);
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--font-headings);
}

img {
    width: 100%;
    height: 100%;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
  }

.new-button {
    width: fit-content;
    margin-bottom: 20px;
    display: inline-block;
} 

.new-button a{
    border: 2px solid black;
    text-decoration: none;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
}

/* Containers */
.container-custom {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container{
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-gutter-small);
    border: 2px solid black;
}

.container-lista{
    position: relative;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 3px solid black;
    background-color: var(--color-primary-form);
    margin-top: 20px;
    padding: 20px;
    height: 1275px;
    overflow: auto;
    margin-left: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-detail{
    position: relative;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 3px solid black;
    background-color: var(--color-primary-form);
    margin-top: 20px;
    padding: 20px;
    height: 1275px;
    overflow: auto; 
    margin-left: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-detail span{
    color: var(--color-primary-dark);
    font-size: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--color-white);
    padding-left: 10px;
    display: block;
}

.container-detail h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.container-detail h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.text-detail{
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: fit-content;
}

.text-detail p{
    font-size: 40px;
}

/* Forms */

.form-container{
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 3px solid black;
    background-color: var(--color-primary-form);
    margin-top: 20px;
    padding: 20px;
}

.form-container-login{
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 3px solid black;
    background-color: var(--color-primary-form);
    padding: 20px;
    text-align: center;

}

.form-container-login #div_id_email{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container-login #div_id_senha{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-container-login .form-control{
    margin: 5px;
}

.form-div{
    border: 2px solid red;
    margin-bottom: 20px;
    /* padding: 20px; */
}


.form-div-info .form-group{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
}

.form-div-endereco .form-group{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
}

.form-div-credenciais .form-group{
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
}

.form-control{
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    font-size: 20px;
}

.form-buttons{
    margin-top: 10px;
    text-align: center;
}
.form-title{
    text-align: center;
}

.form-button{
    border: 3px solid black;
    display: inline-block;
    background-color: white;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--color-black);
}

.form-button:hover {
    background-color: #0062cc;
    text-decoration: none;
    color: black;
  }

.form-button a{
    border: 2px solid red;
    color: var(--color-black);
    text-decoration: none;
}

.asteriskField {
    display: none;
}

.form_div{
    border: 2px solid red;
    padding: 10px;
    white-space: pre;   
    display: inline-block;
}

.form{
    border: 2px solid red ;
    padding: var(--spacing-gutter-medium);
}

.form input{
    display: block;
    margin-bottom: 10px;
}

/* Offcanvas */

.offcanvas{
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 240px;
}

.offcanvas-body{
    background-color: var(--color-white);
}

/* Header */

.main-logo-icon{
    margin-right: 0.5rem;
}


/* Busca */
.search-form{
    border: .3rem solid var(--color-primary-dark);
    margin: 0 auto;
    margin-bottom:20px;
    border-radius: 4px;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
}

.search-input{
    width: 100%;
    padding-right: 4rem;
    transition: all 300ms ease-in-out;
}
.search-button{
    position: absolute;
    top: 0;
    right: 0;
    outline: 3px solid black;
}

.search-button:hover{
    outline: 2px solid var(--color-primary-dark);
    background: rgba(0,0,0,.05);
}

.search-form:focus-within{
    border-color: var(--color-black);
    background: var(--color-white)
}

.search-form:focus-within .search-button{
    color: black;
}

.search-form:focus-within .search-button:hover{
    color: var(--color-primary);
    background: rgba(0,0,0,.05);

}

/* Paginação */
.paginator-div{
    margin-top: 20px;
}

.paginator-div a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}


.main-content{
    padding-top: 0;
}

.main-content-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    gap: var(--spacing-gutter-large)
}

/* .recipe{
    background: var(--color-white);  
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: all 30ms ease-in-out;
    border-radius: 4px;
    overflow: hidden;
} */


/* .recipe img{
    max-width: 100%;; 
} */

/* .recipe-list-item{
    max-width: 64rem;
    height: fit-content;
} */

/* .recipe-list-item:hover{
    transform: scale(1.02);
    box-shadow: -8px 8px 18px rgba(0,0,0,0.3);
} */

/* .recipe-title-container{
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem ;
    
}

.recipe-title-container a{
    text-decoration: none;
    color: var(--color-primary-dark);
}

.recipe-author{
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-content{
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.recipe-cover{
    height: 300px;
} */



/* .recipe-author-item{
    color: var(--color-gray-4);
    margin-right: 1rem;
}

.recipe-author a{
    color: var(--color-primary);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.recipe-author a:hover{
    color: var(--color-primary-dark);
    
}


.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.6rem;
}

.recipe-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
    filter: brightness(2);
} */

/* Footer */
.main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-gutter-small);
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 50px; 
    border: 2px solid black;
}

.main-footer a{
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover{
    filter: brightness(.8);
}

/* .main-content-detail .recipe-list-item{
    max-width: 84rem;
    margin: 0 auto;
} */

/* .main-content-detail .recipe-list-item:hover{
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0,0,0,0.2);
} */


/* Tables */
.table a{
    color: black;
    text-decoration:none;
    display: block;
    width: 100%;
    height: 100%; 
}

.table td{
    background-color: rgb(243, 243, 243);
    border-right: 2px solid black;
}

.table th{
    background-color: rgb(180, 221, 255);
    border: 2px solid black;

}

.table .td-delete{
    background-color: red;
    text-align: center;
    border: 2px solid black;
    width: 100px;
    height: 45px;
}

.cadastro-link{
    color: var(--color-white);
}

.cadastro-link:hover{
    color: var(--color-black);
    text-decoration-color: black;
}

.custom-column {
    width: 30%;
}

.nav-link{
    background-color: #3e9bff;
    border: 3px solid black;
    border-radius: 9px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--color-white);
    transition: all 0.4s ease;  
    /* transition-delay: 0.2s; */
}

.nav-link:hover{
    background-color: #7cbbff;
    color: black;
    font-size: 20px;
}

/* Messages */
.message{
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
    display: inline-block;
}

.message-succ{
    border: 1px solid var(--color-success-dark);
    background-color: var(--color-success-light);
    color: var(--color-success-dark);
    display: inline-block;

}

.message-error{
    border: 1px solid var(--color-error-dark);
    background-color: var(--color-error-light);
    color: var(--color-error-dark);
    display: inline-block;
    margin: 0 auto;
    width: fit-content;

}

.message-warn{
    background-color: rgb(255, 197, 88);
    color: black;
    display: inline-block;
    margin: 0 auto;
    width: fit-content;

}

/* Generics */

.center{
    text-align: center;
}

/* .m-x {
    margin: 0 var(--spacing-gutter-medium);
} */

/* .m-y {
    margin: var(--spacing-gutter-medium) 0;  
} */

@media  (max-width: 600px){
    .main-content-list{
        grid-template-columns: repeat(auto-fit,minmax(100%, 1fr));
    }
}

/* .button-container{
    padding: 10px;
    border: 2px solid red;
    width: 100%;
    text-align: center;

}

.generic-button{
    border: 2px solid var(--color-black);
    padding: 5px;
    margin: 20px;
    text-decoration:none;
    background-color: var(--color-white);
    color: var(--color-black);
    transition: 0.5s; 
    position: relative;
    right: 25px;
    text-align: center;
    display:inline-block;
    margin:0 auto;
}

.generic-button:hover{
    background-color: var(--color-gray-1);
} */

.title{
    font-size: 30px;
}

/* .title-container{
    text-align: center;
    border: 2px solid red;
} */


/* .navbar-custom{
    border: 2px solid red;
    max-width: 300px;
    position: relative;
    right: 890px;
    background-color: var(--color-primary);
} */

/* .list-group-item:hover{
    background-color: var(--color-primary-light);
} */

.user-dropdown{
    text-decoration: none;
    color: var(--color-white);
}

.no-content-container{
    border-radius: 10px;
    margin: 0 auto;
    padding: 200px;
    text-align: center;
}

.clickable {
    cursor: pointer;
}
  
.clickable:hover a {
    text-decoration: none;
}
  
.clickable a {
    display: block;
    height: 100%;
    width: 100%;
  }

.link{
    color: var(--color-white);
}

.link:hover {
    color: var(--color-white);
}