{% extends 'global/base.html' %}
{% block title %}Cadastro de componente familiar{% endblock title %}Login
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="no-content-container">
            <h1>Novo Membro da Familia</h1>
            <form class="form" action="/cadastro/{{id}}" method='post'>
                {% csrf_token %}               
                {{ form | crispy }}
                <button type = 'submit'>Criar</button>
            </form>
        </div>
</div>
{% endblock content %}


