{% extends 'global/base.html' %}
{% block title %}Login{% endblock title %}Login
{% block content %}
	<div class="d-flex justify-content-center align-items-center h-100">
		<div>
			<h1>Familias</h1>
			{% for familias in familias %}
                <div class="d-block" style="border: 2px solid blue; margin-bottom: 10px">
                    <a href="#" style="text-decoration:none; color: light-blue">{{familias.nome}} {{familias.rua}}</a>
                </div>
			{% endfor %}
            <a href="{% url 'familias:cadastro' %}">Novo Membro</a>
            <a href="{% url 'familias:cadastro_familia' %}">Nova Familia</a>
		</div>
	</div>
</html>
{% endblock content %}

