{% extends 'global/base.html' %}
{% block title %}Familias{% endblock title %}Login
{% block contentpaginator %}
  <h1 style="margin-bottom:10px;">Famílias</h1>
    <div class="search-container">
      <form action="" class="search-form">
          <input type="search" class="search-input" name="search">
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="new-button">
      <a href="{% url 'familias:cadastro_familia' %}">Nova Familia</a>
    </div>
          <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Contato</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">CEP</th>
                  </tr>
                </thead>
                <tbody>
                    {% for familias in pagination %}
                    <div>
                        <tr>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.nome}}</a></td>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.celular}}</a></td>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.rua}} {{familias.bairro}} {{familias.numero}}, {{familias.cidade}} - {{familias.unidade_federativa}}</a></td>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.latitude}}</a></td>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.longitude}}</a></td>
                            <td><a href="{% url 'familias:familia_detail' familias.id %}" style="text-decoration:none; color: light-blue">{{familias.cep}}</a></td>
                        </tr> 
                    </div>
                    {% endfor %}
                </tbody>
              </table>
            <div>   
    </div>          
</html>
{% endblock contentpaginator %}

