{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
            <h2>Familia: {{familia}}</h2>
            <div class="new-button">
                <a href="{% url 'familias:cadastro' familia.id%}">Novo Membro</a>
                <a href="{% url 'familias:renda' familia.id%}">Nova Renda Familiar</a>
            </div>
            {% if familia.componentes.exists%}
            <h1>Componentes:</h1>

            {% for i in familia.componentes.all %}
                <span>{{i.nome}}</span><br>
            {% endfor %}

            {% endif %} 
            {% if renda.exists%}
            <h1>Rendas da Familia:</h1>
            {% for i in renda%}
                <span> Origem: {{i.origem_renda}} | Valor: R$ {{i.valor}}</span><br>
            {% endfor %}
            {% endif %} 
</div>
{% endblock content %}
