{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
            <h2>Familia: {{familia}}</h2>
            <div class="new-button">
                <a href="{% url 'familias:cadastro' familia.id%}">Novo Membro</a>
                <a href="{% url 'familias:renda' familia.id%}">Nova Renda Familiar</a>
                <a href="{% url 'visitas:cadastro_visita' familia.id %}">Nova Visita</a>
                <a href="{% url 'entregas:cadastro_entregas' familia.id %}">Nova Entrega</a>
                <a href="{% url 'familias:familias_editar' familia.id %}">Atualizar dados da familia</a>
            </div>
            {% if familia.componentes.exists%}
            <h2>Componentes:</h2>

            {% for i in familia.componentes.all %}
                <span><a  class="componentes-link" href="{% url 'familias:componente_detail' i.id %}">{{i.nome}} | {{i.papel}}</a></span><br>
            {% endfor %}

            {% endif %} 
            {% if renda.exists%}
            <h2>Rendas da Familia:</h2>
            {% for i in renda%}
                <span> Origem: {{i.origem_renda}} | Valor: R$ {{i.valor}}</span><br>
            {% endfor %}
            {% endif %}
            <h2>Situação da moradia:</h2> 
                <span>
                    Tipo de moradia: {{familia.moradia}} <br>
                    Material: {{familia.casa_de}} <br>
                    Condição da moradia: {{familia.condicoes_casa}} <br>
                    {% if familia.aluguel %}
                        Valor do aluguel: R${{familia.aluguel}}
                    {% endif %}
                </span><br>
            <h2>Observações:</h2>
                <span>{{familia.observacao}}</span>
</div>
{% endblock content %}
