{% extends 'global/base.html' %}
{% block title %}Colaboradores{% endblock title %}
{% block contentpaginator %}
    <h1 style="margin-bottom:10px;">Colaboradores</h1>
    <div class="search-container">
          <form action="" class="search-form">
              <input type="search" class="search-input" name="search">
              <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
          </form>
    </div>
    <div class="new-button">
      <a href="{% url 'login:register' %}">Novo Colaborador</a>
    </div>
    {% comment %} <div class="d-flex justify-content-center align-items-center h-100"> {% endcomment %}
      <div>
            <table class="table">
                  <thead> 
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Contato</th>
                      <th scope="col">Endereço</th>
                      {% comment %} <th scope="col">Deletar</th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
                      {% for users in pagination %}
                      <div>
                          <tr>
                              <td><a href="{% url 'colaboradores:colaborador_detail' users.id %}"> {{users.nome}}</a></td>
                              <td><a href="{% url 'colaboradores:colaborador_detail' users.id %}">{{users.celular}}</a></td>
                              <td><a href="{% url 'colaboradores:colaborador_detail' users.id %}">{{users.rua}} 
                                {{users.bairro}} {{users.cidade}}-{{users.unidade_federativa | upper}}</a></td>
                              {% comment %} <td class = "td-delete"><a href="{% url 'colaboradores:colaborador_detail' users.id %}"><i class="fa-solid fa-trash"></i></a></td>   {% endcomment %}
                          </tr> 
                      </div>
                      {% endfor %}
                  </tbody>
            </table>
      </div>
    {% comment %} </div> {% endcomment %}
</html>
{% endblock contentpaginator %}

