{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
     <h1>Informações:</h1>
     <span>Nome Completo: {{colaboradores.nome}}</span><br>
     <span>Email: {{colaboradores.email}}</span><br>
     <span>Telefone para contato: {{colaboradores.celular}}</span><br>
     <span>Endereço: {{colaboradores.rua}} {{colaboradores.bairro}} {{colaboradores.cidade}} - {{colaboradores.unidade_federativa}}</span><br>
     <span>Cadastrado em: {{colaboradores.data_de_ingresso}}</span><br>
     <span>Ultimo login em: {{colaboradores.last_login|default_if_none:"Nunca"}}</span>  
</div>
{% endblock content %}
