{% extends 'global/base.html' %}
{% block title %}Cadastro de Colaborador{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="no-content-container">
            <h1>CADASTRE-SE</h1>
            <form class="form" action="/register" method='post'>
                {% csrf_token %}               
                {{ form | crispy }}
                <button type = 'submit'>Criar Conta</button>
            </form>
    </div>
</div>
{% endblock content %}



                
