{% extends 'global/base.html' %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="no-content-container">
            <h1>LOGIN</h1>
            <form class="form" action="/signin" method='post'>
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" id="username" name='username' placeholder='Seu username' Required>
                <label for="">Senha</label>
                <input type="password" id="password" name='password' placeholder='Sua senha' Required>
                <button type = 'submit'>Login</button>
                <a class="text-decoration-none" href="{% url 'login:register' %}">Cadastre-se</a>
            </form>
        </div>
</div>
{% endblock content %}

