{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="login-container">
            <h1>LOGIN</h1>
            {% comment %} <form class="form" action="/signin" method='post'>
                {% csrf_token %}
                <label for="">Email</label>
                <input type="text" id="email" name='email' placeholder='Seu email' Required>
                <label for="">Senha</label>
                <input type="password" id="password" name='password' placeholder='Sua senha' Required>
                <button type = 'submit'>Login</button>
                <a class="text-decoration-none" href="{% url 'login:register' %}">Cadastre-se</a>
            </form> {% endcomment %}
            <form method="post" action={% url 'login:signin' %}>
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit">Submit</button>
                <a class="text-decoration-none" href="{% url 'login:register' %}">Cadastre-se</a>
            </form>
            
        </div>
</div>
{% endblock content %}

