{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="form-container">
            <h1>Adicionando itens a doação de {{doacao.doador}} do dia {{doacao.data_doacao}}</h1>
            <form action="/cadastro_itens/{{doacao.id}}" method='post'>
                {% csrf_token %}               
                {% crispy form %}
            </form>
        </div>
</div>

<script>
    function updateMaxValue() {
        const quantidadeInput = document.getElementById('quantidade-input');
        quantidadeInput.setAttribute('min', 0);
        quantidadeInput.value = 0; // Set the value to 0
      }
      
      updateMaxValue(); // Call the function when the page loads
      
      // Listen for changes to the unidadesSpan element
      const unidadesSpan = document.getElementById('unidades');
      const observer = new MutationObserver(updateMaxValue);
      observer.observe(unidadesSpan, { childList: true });
        

    $(document).ready(function() {
        $('#item-select').change(function() {
          var item_id = $(this).val();
          $.ajax({
            url: '{% url "entregas:get_unidades" %}',
            data: {
              'item_id': item_id
            },
            success: function(data) {
              $('#unidades').text(function( index ) {
                return "QTD em estoque: " + ( data.unidades);
              });
            }
          });
        });
      });
</script>

{% endblock content %}

