{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
            <h2>Doacao de {{doacao.doador}}</h2>
            <h1>Itens doados</h1>
            <div class="new-button">
                <a href="{% url 'doacoes:cadastro_itens' doacao.id %}">Cadastre novos itens</a>
            </div>
            {% if itens.exists%}
            {% for item in itens %}
            {% if item.item.multiplicador > 1 %}
                <span>{{item.item}}: {{item.quantidade}}g</span><br>
            {% else %}
                <span>{{item.item}}: {{item.quantidade}} items</span><br>
            {% endif %}
            {% endfor %}
            {% endif %} 
</div>
{% endblock content %}
