{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main-content main-content-list container">
        <div class="no-content-container">
            <h1>Doacao de {{doacao.doador}}</h1>
            {% if itens.exists%}
            <h2>Itens doados</h2>
            {% for item in itens %}
                <span>{{item.item}}</span> <span>{{item.quantidade}}g</span><br>
            {% endfor %}
            {% endif %} 
            <a href="{% url 'doacoes:cadastro_itens' doacao.id %}" style="text-decoration:none; color: light-blue">Cadastre novos itens</a>

        </div>
</div>
{% endblock content %}
