{% if messages %}
        <div class="main-content center container main-content-list">
            {% for message in messages %}
                <div class="message {{ message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        </div>
{% endif %}

<script>
    setTimeout(function() {
        var messageList = document.querySelectorAll('.message');
        messageList.forEach(function(message) {
            message.remove();
        });
    }, 2000); 
</script>   