{% comment %} <header class="main-header-container">  
        <div class="developer">
            <a href="https://www.linkedin.com/in/manoel-costa/" target="_blank" rel="noreferrer noopener">By Manoel Costa</a>
        </div>
        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
        </div>
</header> {% endcomment %}

<header class="main-header-container">
    <div class="position-fixed top-9 start-0 m-3">
        {% include 'teste/partials/sidenav.html'%}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-book-open main-logo-icon " style="margin-right: 10rem;"></i>
        <span class="position-absolute top-5 fs-1" >GAFF</span>
    </div>
    {% comment %} <div class="headiv">
        {% include 'login/partials/buttons.html'%}
    </div> {% endcomment %}
    <div class = "position-fixed top-9 end-0 m-5">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <i class="fa-solid fa-user main-logo-icon"></i>
            <a class="user-dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.first_name}} {{user.last_name}}
            </a>
          
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                    <a class="dropdown-item" href="{% url 'login:signout' %}">
                        <i class="fas fa-sign-out-alt main-logo-icon"> </i>
                        <span>Sair</span>
                    </a>
                </li> 
            </ul>
            
        </div>            
      {% endif %}
    </div>
</header>

