{% comment %} <header class="main-header-container">  
        <div class="developer">
            <a href="https://www.linkedin.com/in/manoel-costa/" target="_blank" rel="noreferrer noopener">By Manoel Costa</a>
        </div>
        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
        </div>
</header> {% endcomment %}

<header class="main-header-container">
    {% include 'teste/partials/navbar.html'%}
    <i class="fa-solid fa-book-open main-logo-icon position-absolute top-5 start-2" style="margin-right: 10rem;"></i>
    <span class="position-absolute top-5 fs-1" >GAFF</span>
    <div class="headiv">
        {% include 'login/partials/buttons.html'%}
    </div>
    <div class = "position-absolute top-5 end-0 logout-margin">
        {% if user.is_authenticated %}
            <span>Bem vindo {{user.first_name}} {{user.last_name}}</span>
           <a href="{% url 'login:signout' %}"> Sair </a>
        {% endif %}
    </div>
</header>

