{% comment %} <header class="main-header-container">  
        <div class="developer">
            <a href="https://www.linkedin.com/in/manoel-costa/" target="_blank" rel="noreferrer noopener">By Manoel Costa</a>
        </div>
        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
        </div>
</header> {% endcomment %}

<header class="main-header-container">
    <div class="">
        <i class="fa-solid fa-book-open main-logo-icon"></i>
        <span>GAFF</span>
    </div>
    <div class="">
        {% if user.is_authenticated %}
        <span>Bem vindo {{user.first_name}} {{user.last_name}}</span>
        {% endif %}
    </div>
</header>

