<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
    <div class="modal-content ">
        <div class="modal-header text-center">
            <h1 class="modal-title fs-5 w-100 " id="exampleModalLabel">Páginas</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="stretched-link text-decoration-none" href="{% url 'teste:home' %}">Inicio</a></li>
                <li class="list-group-item">ESTOQUE</li>
                <li class="list-group-item">ENTREGAS</li>
                <li class="list-group-item">FAMILIAS</li>
                <li class="list-group-item">USUARIO</li>
              </ul>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>