{% comment %} <div class="container-menu">
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </nav>
</div>

     {% endcomment %}
<button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <span style="margin-right: 5px">Menu</span>
    <i class="fa-solid fa-bars"></i>
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title mx-auto" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Familias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Visitas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entregas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Doadores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estoque</a>
            </li>
        </ul>
    </div>
</div>
</div>