{% extends 'global/base.html' %}
{% block title %}Estoque{% endblock title %}
{% load custom_filters %}
{% block contentpaginator %}
  <h1 style="margin-bottom:10px;">Estoque</h1>
    <div class="search-container">
      <form action="" class="search-form">
          <input type="search" class="search-input" name="search">
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <div class="new-button">
      <a href="{% url 'estoque:cadastro_item' %}">Novo Item</a>
    </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Unidades disponíveis para entrega</th>
                    <th scope="col">Multiplicador</th>
                    <th scope="col">Quantidade total em estoque</th>
                    <th scope="col">Quantidade recebida este ano</th>
                    <th scope="col">Quantidade entregue este ano</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in pagination %}
                    <div>
                        <tr>
                            <td><a href="{% url 'estoque:detail_item' item.id %}" style="text-decoration:none; color: light-blue">{{item.nome}}</a></td>
                            <td>{{item.unidade}}</td>
                            <td>{{item.multiplicador |floatformat:"0" }}x</td>
                            {% if item.multiplicador > 1 %}
                                <td>{{item.estoque_atual |floatformat:"0" }}g</td>
                            {% else %}
                            <td>{{item.estoque_atual |floatformat:"0" }} items</td>
                            {% endif %}
                            <td>
                            {% for item_quantidade_nome, quantidade in quantidades_por_item.items %}
                            {% if item_quantidade_nome == item.nome %}
                                  {% if item.multiplicador > 1 %}
                                        {{quantidade |floatformat:"0" }}g
                                  {% else %}
                                        {{quantidade |floatformat:"0" }} items
                                  {% endif %}
                            {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                              {% for item_quantidade_nome, quantidade in quantidades_por_item_entrega.items %}
                              {% if item_quantidade_nome == item.nome %}
                                    {% if item.multiplicador > 1 %}
                                          {{quantidade |floatformat:"0" }}g
                                    {% else %}
                                          {{quantidade |floatformat:"0" }} items
                                    {% endif %}
                              {% endif %}
                              {% endfor %}
                              </td>
                        </tr> 
                    </div>
                    {% endfor %}
                </tbody>
              </table>
              {% for qtd_item in quantidade_por_item %}
                            <p>{{qtd_item}}</p>
                            
              {% endfor %}   
</html>
{% endblock contentpaginator %}

