{% extends 'global/base.html' %}
{% block title %}Entregas{% endblock title %}
{% block content %}
	<div class="d-flex justify-content-center align-items-center h-100">
		<div>
			<h1>Entregas</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Familia</th>
                    <th scope="col">Data</th>
                  </tr>
                </thead>
                <tbody>
                    {% for entrega in entregas %}
                    <div>
                        <tr>
                            <td><a href="#" style="text-decoration:none; color: light-blue">{{entrega.familia}}</a></td>
                            <td><a href="#" style="text-decoration:none; color: light-blue">{{entrega.data_entrega}}</a></td>
                        </tr> 
                    </div>
                    {% endfor %}
                </tbody>
              </table>
            <div>
              {% comment %} <a href="{% url 'visitas:cadastro_visita' %}">Nova Visita</a> {% endcomment %}
            </div>
            
		</div>
	</div>
</html>
{% endblock content %}

