{% extends 'global/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-detail">
            <h2>Entrega para {{entrega.familia}}</h2>
            <h1>Itens entregues</h1>
            <div class="new-button">
                <a href="{% url 'entregas:cadastro_itens_entrega' entrega.id %}">Cadastre novos itens</a>
            </div>
            {% if itens.exists%}
            {% for item in itens %}
            {% if item.item.multiplicador > 1 %}
                <span>{{item.item}}: {{item.quantidade}}g</span><br>
            {% else %}
                <span>{{item.item}}: {{item.quantidade}} itens</span><br>
            {% endif %}
            {% endfor %}
            {% endif %} 
</div>
{% endblock content %}
